
*.a
.cache
compile_commands.json
bin/
obj/
lib/
schedgen/traces/hpc/
schedgen/cmdline.c
schedgen/cmdline.h
schedgen/schedgen
plot/*/*
!plot/plots/*.py
!plot/scripts/*.sh
*.err
*.o
*.out
config/test/*_env.sh
results/*
!results/
!results/compress_all.sh
!results/generate_metadata.py
results/local_metadata.csv
tracer/sinfo_leonardo/
tracer/sinfo_lumi
tracer/*.pdf
tracer/sinfo_summary.csv
tracer/sinfo/*.pdf
tracer/sinfo/*.tar.gz
tracer/sinfo/*.csv
**/__pycache__/
ai_traces/
utils/twill_schedule_test
