
*.a
.cache
compile_commands.json
bin/
obj/
lib/
plot/*/*
*.err
*.o
*.out
config/test/*_env.sh
results/*/*
!results/*/*.tar.gz
results/local/*
results/local_metadata.csv
tracer/sinfo_leonardo/
tracer/sinfo_lumi
tracer/*.pdf
tracer/sinfo_summary.csv
